{% extends "layout.html" %}
{% load staticfiles %}

{% block login_active %}active{% endblock %}
{% block title %}{{ block.super }} | Event{% endblock %}
{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block body %}
    <div class="ui segment">
    <div class="ui container">
    <div class="row" style="margin-bottom: 15px">
        <div class="col">
            <h2>Event - {{ event.name }}</h2>
            <h4>{{ event.date }}</h4>
            <h6>Description: </h6>
            <p>{{ event.description }}</p>
        </div>
    </div>
    <div class="row">
         <table class="table table-hover test">
        <tr>
            <th>Session Name</th>
            <th>Date</th>
            <th>Session</th>
        </tr>
        {% for item in session_set  %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td><a href="/events/sessions/{{item.name }}">Take Me there</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>

    {% if upzero %}
        <p>No Events</p>
    {% endif %}
    {% for item in eventset %}
        <a href="/events/{{ item.name }}" class="unstyle_link">
    <div class="row border-0" style="margin:10px;background-color: lightgray;border-radius: 5px">

            <div class="col" >
                <h2 style="margin-top:10px;margin-bottom: 4px">{{ item.name }}</h2>
                <h4 style="margin-top:10px;margin-bottom: 4px">{{ item.date }}</h4>
                <p style="margin-top:10px;margin-bottom: 4px">{{ item.description }}</p>
            </div>

    </div>
        </a>
    {%  endfor %}
    </div>
    </div>
{% endblock %}
