{% extends "layout.html" %}
{% load staticfiles %}

{% block login_active %}active{% endblock %}
{% block title %}{{ block.super }} | Console{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <h3>Ranklist-{{ name }}</h3>
        <table class="table table-hover test">
            <tr>
                <th>#</th>
                <th>Display_Name</th>
                <th>User_Name</th>
                <th>Delete</th>
            </tr>
            {% for item in ranks  %}
            <tr>
                <td>{{ item.rank }}</td>
                <td>{{ item.user.userprofile.display_name }}</td>
                <td>{{ item.user.username }}</td>
                <td><a href="/console/delete_rank/{{ session.name }}/{{ item.user.username }}/{{ item.rank }}" onclick="return confirm('Are you sure?')">Delete rank</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-block">
                <form method="post" action="" id="form-login">
                    <fieldset>
                        {% for field in rank_form %}
                            <div class="md-form {% if field.errors %}has-error{% endif %}">
                                {{ field }}
                                <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button class="btn btn-default" type="submit" name="add_event">Add Rank</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col">
        <a href="/console/update_rating/{{ name }}" onclick="return confirm('Only be clicked ONCE when all ranks are uploaded?')"><button class="btn btn-default">Update Rating</button></a>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>

        $( function() {
            $('#id_date').datepicker({ dateFormat: 'yy-mm-dd' });
        } );
    </script>
{% endblock %}
